*{ /*configuração em toda a pagina*/
    padding: 0; /*zera a pagina*/
    margin: 0;  /*zera a margem*/
    box-sizing: border-box;  /*tira o escroll horizontal na paginal*/
}


body{
    background-color: #0C0A0F;
    color: white;
}
.cabesalho{
    background-color: #f00101;
    padding-left: 20px;
    padding-bottom: 2px;
}   

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.menu__item{
    display: flex;
     align-items: center;
    padding-right: 3%;
}


.menu__item_log{
    padding-right: 15%;
}
.log{
    height: 60px;
    width: 60px;
}

.banner_pízza{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


.quem_somos{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr;


}


.vingadores{
    display: flex;
     width: 100%;
     flex-wrap: wrap;
}

.quem_somos1{
    display: flex;
    flex-direction: column;
    width: 25%;

}



.amigos{
    display: inline-block;
    width: 40%;
}

.menu_fonte{
    color: white;
} 

