#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

#scrollToTopButton::before {
    content: '\25B2'; /* Unicode character for up arrow */
    font-size: 24px;
}

#scrollToTopCheckbox {
    position: absolute;
    visibility: hidden;
}

#scrollToTopCheckbox:checked + #scrollToTopButton {
    display: block;
}

#scrollToTopButton:hover {
    background-color: #0056b3;
}