*{ /*configuração em toda a pagina*/
    padding: 0; /*zera a pagina*/
    margin: 0;  /*zera a margem*/
    box-sizing: border-box;  /*tira o escroll horizontal na paginal*/
}
body{
    background-image: url(/imagem/fundo\ estrelado.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.vingadores{
    display: flex;
    width: 50%;
    margin-top: 25%;
    margin-left: 25%;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    opacity: 0.8;


}